<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="103.0.9" targetFramework="net471" />
  <package id="cef.redist.x86" version="103.0.9" targetFramework="net471" />
  <package id="CefSharp.Common" version="103.0.90" targetFramework="net471" />
  <package id="CefSharp.OffScreen" version="103.0.90" targetFramework="net471" />
  <package id="CefSharp.Wpf" version="103.0.90" targetFramework="net471" />
  <package id="ControlzEx" version="5.0.1" targetFramework="net471" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net471" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net471" />
</packages>